In [ ]:
pip install pandas

In [4]:
import pandas as pd
a=[1,7,5]
myvar=pd.Series(a)
myvar

0    1
1    7
2    5
dtype: int64

In [5]:
import pandas as pd
a=[1,7,5]
myvar=pd.Series(a,index=["x","y","z"])
myvar

x    1
y    7
z    5
dtype: int64

In [6]:
import pandas as pd
a=[1,7,5]
myvar=pd.Series(a,index=["2","4","5"])
myvar

2    1
4    7
5    5
dtype: int64

In [6]:
import pandas as pd
a=[1,7,5]
myvar=pd.Series(a,index=["2","4","5"])
myvar

2    1
4    7
5    5
dtype: int64

In [7]:
import pandas as pd
data={"name":["miya","liya","dta"],
      "age":[4,7,9]}
df=pd.DataFrame(data)
df

   name  age
0  miya    4
1  liya    7
2   dta    9

In [9]:
import pandas as pd
data ={"sub":["math","eng","mal"],
       "mark":[23,32,45]}
df=pd.DataFrame(data)
df

    sub  mark
0  math    23
1   eng    32
2   mal    45

In [10]:
import pandas as pd
data ={"sub":["math","eng","mal"],
       "mark":[23,32,45]}
df=pd.DataFrame(data)
print(df.loc[1])

sub     eng
mark     32
Name: 1, dtype: object

In [11]:
df.info

<bound method DataFrame.info of     sub  mark
0  math    23
1   eng    32
2   mal    45>