In [ ]:
!pip install pandas

In [23]:
import pandas as pd 
df=pd.read_csv('student_clustering.csv')
df

     cgpa   iq
0    5.13   88
1    5.90  113
2    8.36   93
3    8.27   97
4    5.45  110
..    ...  ...
195  4.68   89
196  8.57  118
197  5.85  112
198  6.23  108
199  8.82  117

[200 rows x 2 columns]